/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* How to caculate value = specified breakpoint eg-"1344px" divided by 16px =84em */

/**************************/
/* BELOW 1280px (Smaller desktops) */
/**************************/

@media (max-width: 1280px) {
  body {
    /* width: 144rem; */
    /* margin: 4rem 2.2rem 2rem 5.2rem; */
    /* margin-left: 8.2rem; */

    /* padding-top: 3rem; */

    /* width: 144rem; */
    margin: 0rem 2.2rem 0rem 5.2rem;
    height: 100vh;
  }

  .container-box {
    overflow-y: scroll;
    /* overflow-x: hidden; */
  }

  .modal-content {
    padding-bottom: 5px;
  }
}

/**************************/
/* BELOW 820px (Tablet) */
/**************************/

@media (max-width: 820px) {
  body {
    /* width: 144rem; */
    margin: 0rem 2.2rem 2rem 5.2rem;
    margin-left: 8.2rem;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4.5rem;
  }

  .search {
    width: 63rem;
    height: 57px;
    transition: all 0.3s;
    color: inherit;
    background-color: #d9d9d9;

    margin-top: 2.2rem;
  }

  .container-box {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    height: 60vh;

    overflow-y: scroll;
    overflow-x: hidden;
  }

  .modal-content {
    min-width: 600px;
  }
}

/**************************/
/* BELOW 768px (Smaller Tablet) */
/**************************/

@media (max-width: 768px) {
  body {
    /* width: 144rem; */
    margin: 0rem 2.2rem 2rem 5.2rem;
    margin-left: 4.2rem;

    height: 100vh;
  }

  .container-box {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    height: 55vh;

    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/**************************/
/* BELOW 390px ( Phones) */
/**************************/

@media (max-width: 390px) {
  html {
    font-size: 47%;
  }

  .search {
    width: 40rem;
  }
  .container-box {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    height: 55vh;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
  }

  .movie-list img {
    display: inline-block;

    width: 16.7rem;
    height: 25.7rem;
    border-radius: 10px;
  }

  .movie-wrapper {
    width: 16.7rem;
    height: 25.7rem;
  }

  .modal-content {
    min-width: 100px;
  }

  .poster-box img {
    width: 16.7rem;
    height: 25.7rem;
  }

  .details-title {
    font-size: 18px;
    font-family: inherit;
  }

  .details-released {
    font-size: 13px;
    font-family: inherit;
  }

  .details-genre {
    font-size: 13px;
    font-family: inherit;
  }

  .details-rating {
    font-size: 13px;
    font-family: inherit;
  }

  .details-plot {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-actors {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-director {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 13px;
  }
}

/**************************/
/* BELOW 412px ( Phones) */
/**************************/

@media (max-width: 412px) {
  html {
    font-size: 49%;
  }

  .search {
    width: 45rem;
  }

  .container-box {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    height: 55vh;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
  }

  .movie-list img {
    display: inline-block;

    width: 16.7rem;
    height: 25.7rem;
    border-radius: 10px;
  }

  .movie-wrapper {
    width: 16.7rem;
    height: 25.7rem;
  }

  .modal-content {
    min-width: 100px;
  }

  .poster-box img {
    width: 16.7rem;
    height: 25.7rem;
  }

  .details-title {
    font-size: 18px;
    font-family: inherit;
  }

  .details-released {
    font-size: 13px;
    font-family: inherit;
  }

  .details-genre {
    font-size: 13px;
    font-family: inherit;
  }

  .details-rating {
    font-size: 13px;
    font-family: inherit;
  }

  .details-plot {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-actors {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-director {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 13px;
  }
}

/**************************/
/* BELOW 428px ( Phones) */
/**************************/

@media (max-width: 428px) {
  html {
    font-size: 49%;
  }

  .search {
    width: 45rem;
  }

  .container-box {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    height: 55vh;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
  }

  .movie-list img {
    display: inline-block;

    width: 16.7rem;
    height: 25.7rem;
    border-radius: 10px;
  }

  .movie-wrapper {
    width: 16.7rem;
    height: 25.7rem;
  }

  .modal-content {
    min-width: 100px;
  }

  .poster-box img {
    width: 16.7rem;
    height: 25.7rem;
  }

  .details-title {
    font-size: 18px;
    font-family: inherit;
  }

  .details-released {
    font-size: 13px;
    font-family: inherit;
  }

  .details-genre {
    font-size: 13px;
    font-family: inherit;
  }

  .details-rating {
    font-size: 13px;
    font-family: inherit;
  }

  .details-plot {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-actors {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-director {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 13px;
  }
}

/**************************/
/* BELOW 360px (Phones) */
/**************************/

@media (max-width: 360px) {
  html {
    font-size: 50%;
  }

  body {
    /* width: 144rem; */
    margin: 0rem 2.2rem 2rem 2.2rem;
    margin-left: 2rem;
    margin-top: 0;

    height: 100vh;
  }

  .search {
    width: 40rem;
    height: 47px;
    transition: all 0.3s;
    color: inherit;
    background-color: #d9d9d9;

    margin-top: 2.2rem;
  }

  .container-box {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    height: 55vh;

    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
  }

  .movie-list img {
    display: inline-block;

    width: 16.7rem;
    height: 25.7rem;
    border-radius: 10px;
  }

  .movie-wrapper {
    width: 16.7rem;
    height: 25.7rem;
  }

  .modal-content {
    min-width: 100px;
  }

  .poster-box img {
    width: 16.7rem;
    height: 25.7rem;
  }

  .details-title {
    font-size: 18px;
    font-family: inherit;
  }

  .details-released {
    font-size: 13px;
    font-family: inherit;
  }

  .details-genre {
    font-size: 13px;
    font-family: inherit;
  }

  .details-rating {
    font-size: 13px;
    font-family: inherit;
  }

  .details-plot {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-actors {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  .details-director {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 13px;
  }
}

/**************************/
/* BELOW 320px (Smaller Phones) */
/**************************/

@media (max-width: 320px) {
  html {
    font-size: 45%;
  }

  .details-box {
    flex-direction: column;
    gap: 8px;
    padding: 10px;
  }

  .poster-box img {
    width: 10.7rem;
    height: 20.7rem;
    display: none;
  }

  .details-title {
    font-size: 18px;
    font-family: inherit;
  }

  .details-released {
    font-size: 13px;
    font-family: inherit;
  }

  .details-genre {
    font-size: 13px;
    font-family: inherit;
  }

  .details-rating {
    font-size: 13px;
    font-family: inherit;
  }

  .details-plot {
    font-size: 13px;
    font-family: inherit;
    margin-bottom: 13px;
  }

  .modal-content {
    max-width: 500px;
    min-width: 200;
  }
}
