/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* How to caculate value = specified breakpoint eg-"1344px" divided by 16px =84em */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .container {
    /* 1140px */
    max-width: 120rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .main-nav {
    flex-direction: column;
    /* align-items: start; */
  }

  /* .main-nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    gap: 2.2rem;
    margin-top: 6.8rem;
  } */

  .main-nav ul {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav .menu {
    display: block;
  }

  .main-nav ul.open {
    display: block;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .container {
    /* 1140px */
    max-width: 115rem;
  }
}

/**************************/
/* BELOW 390px (Phones) */
/**************************/

@media (max-width: 390px) {
  .search {
    padding: 1.2rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    width: 13rem;
    height: 30px;
    transition: all 0.3s;
    color: inherit;
    background-color: #17171a;
  }

  .search-button {
    padding: 1.2rem 1.2rem;
    border-radius: 4px;
    font-size: 1.2rem;
    /* font-weight: bold; */
  }

  .search-container {
    gap: 1.2rem;
    margin-top: 2.2rem;
  }

  .main-nav .menu {
    position: absolute;
    top: 3.8rem;
    left: 15.8rem;

    padding: 1.2rem 1.2rem;
    border-radius: 4px;
    font-weight: 200;
    font-size: 1.2rem;

    margin-top: 1.4rem;
  }

  .movie-wrapper {
    width: calc(19.7rem * 0.95);
    height: calc(28.7rem * 0.95);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 4.5rem;
  }

  .card-container {
    display: none;
  }
}

/**************************/
/* BELOW 428px (Phones) */
/**************************/

@media (max-width: 428px) {
  .search {
    padding: 1.2rem 1.2rem;
    font-size: 1rem;
    border-radius: 2rem;
    width: 11rem;
    height: 25px;
    transition: all 0.3s;
    color: inherit;
    background-color: #17171a;

    margin-top: 0.5rem;
  }

  .search-button {
    padding: 1rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    /* font-weight: bold; */
  }

  .search-container {
    gap: 1rem;
    margin-top: 2.3rem;
  }

  .main-nav .menu {
    position: absolute;
    top: 3.8rem;
    left: 14rem;

    padding: 1.2rem 1.2rem;
    border-radius: 4px;
    font-weight: 200;
    font-size: 1rem;

    margin-top: 1.4rem;
  }
  .movie-wrapper {
    width: calc(19.7rem * 1.07);
    height: calc(28.7rem * 1.07);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 4.5rem;
  }

  .card-container {
    /* height: calc(45rem * 0.7);
    width: calc(29rem * 0.7);
    overflow: hidden;
    position: absolute;
    top: -40px;
    right: -18px;
    left: -20px;
    transition: 0.4s;
    animation: ease-in;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    background-color: #232326;
    overflow-y: scroll;
    border-radius: 15px; */

    display: none;
  }
}

/**************************/
/* BELOW 390px (Phones) */
/**************************/

@media (max-width: 390px) {
  .search {
    padding: 1.2rem 1.2rem;
    font-size: 1rem;
    border-radius: 2rem;
    width: 11rem;
    height: 25px;
    transition: all 0.3s;
    color: inherit;
    background-color: #17171a;

    margin-top: 0.5rem;
  }

  .search-button {
    padding: 1rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    /* font-weight: bold; */
  }

  .search-container {
    gap: 1rem;
    margin-top: 2.3rem;
  }

  .main-nav .menu {
    position: absolute;
    top: 3.8rem;
    left: 14rem;

    padding: 1.2rem 1.2rem;
    border-radius: 4px;
    font-weight: 200;
    font-size: 1rem;

    margin-top: 1.4rem;
  }

  .movie-wrapper {
    width: calc(19.7rem * 0.96); /* Increase by 2% */
    height: calc(28.7rem * 0.96); /* Increase by 2% */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 4.5rem;
  }

  .card-container {
    /* height: calc(45rem * 0.7);
    width: calc(29rem * 0.7);
    overflow: hidden;
    position: absolute;
    top: -40px;
    right: -18px;
    left: -20px;
    transition: 0.4s;
    animation: ease-in;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    background-color: #232326;
    overflow-y: scroll;
    border-radius: 15px; */

    display: none;
  }
}

/**************************/
/* BELOW 360px (Phones) */
/**************************/

@media (max-width: 360px) {
  .search {
    padding: 1.2rem 1.2rem;
    font-size: 1rem;
    border-radius: 2rem;
    width: 11rem;
    height: 25px;
    transition: all 0.3s;
    color: inherit;
    background-color: #17171a;

    margin-top: 0.5rem;
  }

  .search-button {
    padding: 1rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    /* font-weight: bold; */
  }

  .search-container {
    gap: 1rem;
    margin-top: 2.3rem;
  }

  .main-nav .menu {
    position: absolute;
    top: 3.8rem;
    left: 14rem;

    padding: 1.2rem 1.2rem;
    border-radius: 4px;
    font-weight: 200;
    font-size: 1rem;

    margin-top: 1.4rem;
  }

  .movie-wrapper {
    width: calc(19.7rem * 0.9);
    height: calc(28.7rem * 0.9);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 4.5rem;
  }

  .card-container {
    /* height: calc(45rem * 0.7);
    width: calc(29rem * 0.7);
    overflow: hidden;
    position: absolute;
    top: -40px;
    right: -18px;
    left: -20px;
    transition: 0.4s;
    animation: ease-in;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    background-color: #232326;
    overflow-y: scroll;
    border-radius: 15px; */

    display: none;
  }
}
