/**************************/
/* HEADER */
/**************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232326;

  /* Because we want header to be sticky later */
  /* height: 9.6rem; */
  padding: 2.2rem 3.2rem;
  margin: 0 auto;

  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.movie-logo {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ec71ff;
  text-decoration: none;
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/**************************/
/* NAVIGATION */
/**************************/
.active {
  background-color: #d944f0;
  padding: 1.2rem 1.6rem;
  border-radius: 9px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:not(.active):hover,
.main-nav-link:not(.active):active {
  color: #d944f0;
}

/* MOBILE NAVIGATION */
.main-nav .menu {
  position: absolute;
  top: 3.8rem;
  left: 15.8rem;

  background-color: #17171a;
  padding: 1.2rem 1.6rem;
  border-radius: 9px;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;

  display: none;
}

.main-nav .menu:hover {
  background-color: #d944f0;
}

/**************************/
/* SEARCH */
/**************************/

.search-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.search {
  border: none;
  padding: 1.2rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 3rem;
  width: 30rem;
  height: 57px;
  transition: all 0.3s;
  color: inherit;
  background-color: #17171a;
}

.search::placeholder {
  color: #868e96;
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.search-button {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #d944f0;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  font-size: 1.6rem;
  /* font-weight: bold; */
}

.search-button:hover {
  background-color: #17171a;
}
